.root {
  border: none;
  background: var(--second);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background: var(--sixth);
  }

  &_size_md {
    width: 300px;
    padding: 5px;
  }

  &_size_sm {
    width: 100px;
  }

  &_variant_outlined {
    background: transparent;
    border: 1px solid var(--second);
    color: var(--second);
  }
}
